@import 'common/styles/templates';

$width: 100%;
$max-width: 560px;
$border: 2px solid #ffffff;

.todoApp {
  @extend %flexCentering;
  flex-direction: column;

  max-width: $max-width;
  width: $width;

  margin: 1.5em 1em;
  padding: 1em;

  background: rgba(255, 255, 255, 0.25);
  border: $border;
  border-radius: 10px;
}
